* {
    -webkit-tap-highlight-color: transparent;
}

html {
    box-sizing: border-box; /* border-box includes any border/padding into total indicated width */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    overflow: hidden;
    background: black;
    height: 100%;
    position: relative;
    z-index: -1;
} 

body {
    margin: 0; /* remove margin & padding so background fills entire screen */
    padding: 0;
    height: 100%;
}

.calculator-grid {
    display: grid;
    justify-content: center; 
    align-content: center; /* align everything in content, not just items */
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px); /* min of 120px tall, and max at auto to grow per user input */
    margin: 50px 10%;
    padding: 3rem;
    position: relative;
    z-index: 1;
}

#canv {
    position: fixed;
    top: 0;
    left: 0;
  }

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    outline: none;
    background-color: rgba(255, 255, 255, );
    outline: none;
}

.calculator-grid > button:hover {
    background-color: rgba(245, 200, 116, 0.9);
}

.span-two {
    grid-column: span 2; /* 'AC' and '=' will span two spaces */
}

.output {
    grid-column: 1 / -1; /* the output section will span the whole column */
    background-color: rgba(0, 0, 0, 0.85);
    border: 4px solid white;
    margin-bottom: 1px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
    word-wrap: break-word; /* wraps and breaks word to next line if input gets too long */
    word-break: break-all;
}

.output .previous-operand {
    color: rgb(255, 255, 255, 0.75);
    font-size: 1rem;
}

.output .current-operand {
    color: rgba(255, 255, 255);
    font-size: 2.5rem;
}